:root {
    color-scheme: light dark;
  
    /* Default light mode colors */
    --text-color: rgb(85, 85, 85); /* Default text color */
    --link-color: black; /* Link color */
    --link-hover-color: grey; /* Link hover color */
    --link-decoration-color: rgb(181, 181, 181); /* Link hover underline color */
    --logo-color: black; /* Logo color */
    --nav-background-color: white; /* Navigation background color */
    --nav-text-color: black; /* Navigation text color */
    --button-border-color: rgb(53, 53, 53); /* Button border color */
    --btn-background-color: rgb(53, 53, 53); /* Button background color */
    --btn-hover-background-color: rgb(0, 0, 0); /* Button hover background */
    --btn-text-color: white; /* Button text color */
    --section-background-color: white; /* Default section background color */
    --border-color: rgb(163, 163, 163); /* Default border color */
    --project-border-color: rgb(163, 163, 163); /* Project border color */
    --project-background-color: rgb(250, 250, 250); /* Project background color */
    --footer-background-color: white; /* Footer background color */
    --social-icon-color: black; /* Social media icon color */
    --icon-color: black; /* Icon color */
    --email-icon-color: black; /* Email icon color */
    --menu-link-color: black; /* Menu link color */
    --section-title-color: black; /* Section title color */
  }
  
  /* Dark Mode Colors */
  [data-theme="dark"] {
    --background-color: #181818; /* Dark background color */
    --text-color: #ffffff; /* White text color */
    --nav-background-color: #282828; /* Dark navigation background */
    --nav-text-color: white; /* White navigation text */
    --btn-background-color: rgb(100, 100, 100); /* Button background for dark mode */
    --btn-hover-background-color: rgb(50, 50, 50); /* Button hover background in dark mode */
    --btn-text-color: black; /* Button text color for dark mode */
    --link-color: white; /* Link color in dark mode */
    --link-hover-color: lightgray; /* Link hover color in dark mode */
    --link-decoration-color: rgb(181, 181, 181); /* Link decoration color in dark mode */
    --section-background-color: #333; /* Section background color in dark mode */
    --project-border-color: rgb(100, 100, 100); /* Border color for projects in dark mode */
    --project-background-color: #282828; /* Project background color in dark mode */
    --footer-background-color: #282828; /* Footer background color in dark mode */
    --social-icon-color: white; /* Social icon color in dark mode */
    --icon-color: white; /* Icon color in dark mode */
    --email-icon-color: white; /* Email icon color in dark mode */
    --logo-color: white; /* Logo color in dark mode */
    --menu-link-color: white; /* Menu link color in dark mode */
    --section-title-color: white; /* Section title color in dark mode */
  }
  